
<div class = "jumbotron text-center" >
    <h1>Welcome to the database</h1>
    <P>These are the current bugs</P>
    {{#each entries}}
    <div class = 'entries'>
        <p class = "font-weight-bold">Bug:{{title}}</p>
        <p>Type:{{type}}</p>
        <p>Location:{{loc}}</p>
        <p>Priority:{{priority}}</p>
        <p>Description:{{description}}</p>
        <p>Found by:{{found}}</p>
        <p>Progress:{{progress}}</p>
        <p>Date:{{date}}</p>
        <a href='/gameentries/edit/{{id}}'class="btn btn-dark">edit</a>
        <form method="POST" action="/{{id}}?_method=Delete">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    </div>
    {{else}}
    {{/each}}

</div>