<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <form class="form-group" action="/editgame/{{entry.id}}?_method=PUT" method="POST">
                <h3>Edit Your Bug Here:</h3>
                <label>Edit Name of Bug</label>
                <input type="hidden" name="_method" value="PUT">
                <br>
                <input type="text" name="title" value="{{entry.title}}"required>
                <br>
                <label>Type of Bug</label>
                <br>
                <textarea name = "type" class = "form-control"required>{{entry.type}}</textarea>
                <br>
                <label>Location</label>
                <br>
                <input name = "loc" class = "form-control"required>{{entry.loc}}</input>
                <br>
                <label>Priority</label>
                <br>
                <input name = "priority" class = "form-control"required>{{entry.priority}}</input>
                <br>
                <label>Description of Bug</label>
                <br>
                <textarea name = "description" class = "form-control"required>{{entry.description}}</textarea>
                <br>
                <label>Found by</label>
                <br>
                <input name = "found" class = "form-control"required>{{entry.found}}</textarea>
                <br>
                <label>Progress of Bug</label>
                <br>
                <input name = "progress" class = "form-control"required>{{entry.progress}}</textarea>
                <br>
                <button type="submit" class = "btn btn-primary">Submit Edited Bug</button>
            </form>
        </div>
    </div>
</div>